*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 50%;
}
h1{
    text-align: center;
}
.image-section{
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: justify;
    padding-left: 3px;
}

.form-section{
    height: 200px;
    width: 852px;
    left: 151px;
    top: 789px;
    text-align: center;
}

.who-are{
    padding-bottom: 40px;
}

.write{
    margin: 0 20px;
    padding: 0 10px
}
.img{
    height: 496px;
    width: 422px;
    left: 92px;
    top: 196px;
    margin: 0 50px;
}
.text1{
    height: 50%;
    width: 300px;
    left: 551px;
    top: 301px;
    margin-bottom: 40px;
}
.text{
    height: 50%;
    width: 50%;
    left: 550px;
    top: 487px;
}
.form-row{
    margin-bottom: 25px;
}
.form-row .input-box input{
    height: 30px;
    width: 100%;
    left: 100px;
    top: 945px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #0D0C0C
}
.contact-us{
    text-align: left;
}
.form-row .input-box{
    width: 50%;
    padding-bottom: 25px;
}
.textarea-section{
    width: 100%;
    height: 100px;
}
.form-row .textarea-section textarea{
    width: 50%;
    height: 50%;
    padding: 3px;
    border-radius: 5px;
}
.line{
    display: flex;
    height: 0px;
    width: 67.5px;
    left: 710px;
    top: 221px;
    border: 1px solid #D89616;
}
h2{
    height: 35px;
    width: 174px;
    margin:0 39%;
    text-align: center;
}
.button-section button{
    background: #004DE6;
    padding: 8px 40px;
    color: white;
    margin: 0 640px;
    border-radius: 8px;
    margin-bottom: 25px;
}
.button-section{
    display: flex;
    padding-bottom: 2%;
}